<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentmark">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentMark">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".adminReport" />
        <activity android:name=".adminmanageP" />
        <activity android:name=".Admindash">

        </activity>
        <activity android:name=".adminSignup" />
        <activity android:name=".adminLogin" />
        <activity android:name=".ViewAttendence" />
        <activity android:name=".AppStatus" />
        <activity android:name=".UserEdit" />
        <activity android:name=".Present" />
        <activity android:name=".UserDahboard" />
        <activity android:name=".Registeration" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>